Solutions/PayStation/obj/Debug/PayStation.csproj.FileListAbsolute.txt
Solutions/Alarm/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Solutions/Alarm/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Solutions/Alarm/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Solutions/PayStation/obj/Debug/PayStation.csproj.FileListAbsolute.txt
Solutions/PayStation/obj/Debug/PayStation.csproj.FileListAbsolute.txt
Solutions/Builder/obj/Debug/Builder.csproj.FileListAbsolute.txt
Solutions/Builder/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Solutions/Builder/bin/Debug/Builder.exe.config
Solutions/Builder/bin/Debug/Builder.vshost.exe.config
Solutions/Builder/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Solutions/Builder/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Solutions/Command/obj/Debug/Command.csproj.FileListAbsolute.txt
Solutions/Command/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Solutions/Command/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Solutions/Command/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Solutions/Command/bin/Debug/Command.exe.config
Solutions/Command/bin/Debug/Command.vshost.exe.config
Solutions/Command/bin/Debug/Command.vshost.exe.manifest